body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: #ffffff;
    height: 100vh;
  }
  
  header {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: #DB8A74;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  header a {
    text-decoration: none;
  }
  
  header button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 10em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 15px;
    background-color: #264653;
    color: white;
    border: white;
    border-radius: 30px;
    cursor: pointer; 
  }
  
  header button:hover {
    background-color: #122a34;
  }
  
  h1, h2 {
    color: #34A0A4;
    text-align: center;
  }
  
  form, .card {
    background-color: #ddd;
    padding: 20px;
    border: 1px solid #34A0A4;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-top: 20px;
  }
  
  .card {
    margin-top: 40px; /* Increase margin to separate the title from the card */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #34A0A4;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #34A0A4;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #264653;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin to separate the title from the card content */
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  span {
    font-weight: bold;
  }
  
  #prescriptionForm {
    margin-bottom: 20px;
  }
  
  #doctorNameDisplay, #pacienteNameDisplay, #medicamentoName, #prescriptionDate, #codigoAleatorio {
    color: #904E55;
  }
  